<div class="container-fluid bg-grey">
  
  <h1>About Us</h1>
  <p>This is Jungle, an online e-commerce website to purchase the products you like.</p>
  
  <button class='btn btn-default'>
    <%= link_to 'Our products', :root %>
  </button>
</div> 